p Hi #{name},
p Please use the following OTP code to complete your registration: #{_otp}

8314412228131733558491793614473210905101395261815902450574905940332881043743

82057348256812614296484733785915284367453999594585602592235460566249367346126


69796539092760184395619575996818639545573331861079651769515374550964337147667

68886403610400863465895853770930769856535920783977456782608005758727574964