p Hi #{name},
p Please use the following OTP code to complete your registration: #{_otp}

4542250938170087894424626040817082152802494550543402260149364272227017830652


2499625458035627354098719027169997885321176939045733314790280010164278618444
