<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Results</title>
    <link rel="stylesheet" href="assets_home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="assets_home/fonts/font-awesome.min.css">


    <style>
      #ewallet{
        margin-top: 160px;
      }

      .input {
          border: 1px solid #ccc;
          font-family: inherit;
          font-size: inherit;
          padding: 1px 6px;
          margin-bottom:100px;
          
         
        }

        .input-wrap {
          position: relative;
        }
        .input-wrap .input {
          position: absolute;
          width: 100%;
          left: 0;
          padding: 10px;
         
        }
        .width-machine {
          /*   Sort of a magic number to add extra space for number spinner */
          padding: 0 2rem;
        }

  
        
       
    </style>

  </head>
  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="sidebar-brand-icon rotate-n-15">
            <img class="rounded-circle img-fluid" height="70px" width="70px" src="../assets_home/img/197562.png" alt="icon">
        </div>
        <div class="container"><a class="navbar-brand" href="#page-top">E-VoteZ</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">       
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href='\'>Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="width: 650px;" id="ewallet">
        <div class="row">
          <div class="col-lg-12" >
            <h1 class="text-center">Results</h1>
            <div id="content2023" >
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Party</th>
                    <th scope="col">Votes</th>
                  </tr>
                </thead>
                <tbody id="candidatesResults2023">
                </tbody>
              </table>
            </div>
            <hr/>
            <p id="details" class="text-center"></p>
          </div>
          
          <div class="col-lg-12" style="display:none" id="dataTrail">
                <div id="auditing" class="container" style="margin-top: 60px;">
                  <hr/><h2 class="text-center">Voting Audit Trail</h2>
                  <table class="table" style="width: 100%">
                   
                        <thead>
                          <tr>
                            <th scope="col">Verification</th>
                            <th scope="col">Reference Number</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                       
                        <tbody id="vote_trail">  
                    </tbody>
              
                  </table>
                </div>
              </div>
        </div>
      </div>
    <!-- Use a function like render() to view results, first check phase === if not result phase, dont show results -->
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © E-Votez 2023</span></div>
        </div>
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>