<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <link rel="stylesheet" href="assets_home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="assets_home/fonts/font-awesome.min.css">


    <script src="../js/init.js"></script>

    <style>
        #sliders2 {
            padding-right: 40%;                
        }
        #dashboard{
            margin-top: 200px;
        }

        ul {
            list-style: none;
            padding: 20px;
        }
        
        ul li {
            margin-bottom: 10px;
        }
    </style>

  </head>
  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="sidebar-brand-icon rotate-n-15">
            <img class="rounded-circle img-fluid" height="70px" width="70px" src="../assets_home/img/197562.png" alt="icon">
        </div>
        <div class="container"><a class="navbar-brand" href="#page-top">E-VoteZ</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">    
                    <li class="nav-item" role="presentation" id="lastLog1"><a class="nav-link js-scroll-trigger" id="vote" href="\">Home</a></li>
                    <li class="nav-item" role="presentation" id="lastLog2" style="display: none;"><a class="nav-link js-scroll-trigger" href="\"  onclick="auth.logOut()" ><strong>logOut</strong></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="logIns">
        <header class="masthead" style="background-image:url('../assets_home/img/im1.jpeg'); background-color:rgba(255, 255, 255, 0.5);  background-size:cover;">
            <div class="container" id="sliders2">
                <div class="intro-text">
                    <div class="intro-lead-in"><span>BlockChain Evoting</span></div>
                    <div class="intro-heading text-uppercase"><span>Amplify Your Voice!</span></div>
                    <form onsubmit="App.admin_Signs_In(); return false" method="post" action="admin">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="check" style="display: none;" >                        
                        </div>
                        <button type="submit" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Administrator Login</button>
                    </form>
                </div>
            </div>
         
        </header>
    </div>
    <div id="dashboard"  class="container">
        <h1>Dashboard</h1>
        <hr class="sidebar-divider my-0">
        <ul  id="accordionSidebar">
            <li role="presentation">
                <p id="numOfCandidates" >candidates: </p>
                <p id="numOfRegistrations" > Registrations:</p> 
                <p id="numOfVoters" >Votes:</p>
            </li>
        
            <li role="presentation">
                <a  href="candidates"><button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Add Candidate</button></a>
            </li>
            <li role="presentation">
           <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" onclick="App.startElections()">Start Election</button>
            </li>
            <li role="presentation">
                <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" onclick="App.changePhases()">Change Phase</button>
            </li>
            <li role="presentation">
               <a  href="results">
                <button class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">View Results</button> 
            </a>
            </li>
        </ul>
         
        
        
        
    </div>
 
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="js/bootstrap.min.js"></script>
     <script src="js/web3.min.js"></script>
     <script src="js/truffle-contract.js"></script>
     <script src="js/app.js"></script>
  </body>
</html>