<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Election Results</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="assets_home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="assets_home/fonts/font-awesome.min.css">


    <style>
        /* #sliders {
            padding-right: 40%;                
        } */
      #ewallet{
          margin-top: 150px;
        }
    </style>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
      <div class="sidebar-brand-icon rotate-n-15">
        <img class="rounded-circle img-fluid" height="70px" width="70px" src="../assets_home/img/197562.png" alt="icon">
    </div>
        <div class="container"><a class="navbar-brand" href="#page-top">E-VoteZ</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">       
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href='\'>Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="width: 650px;" id="ewallet">
      <div class="row">
        <div class="col-lg-12" >
          <h1 class="text-center">Election</h1>
          <hr/>
          <br/>
          <div id="loader">
            <p class="text-center">Load Your E-Wallet to vote...</p>
          </div>
          <div id="isREg">
            <p class="text-center">Please go and register to vote.</p>
          </div>
          <div id="process" class="text-center">
            <p class="text-center"></p>
          </div>
          <div id="content" style="display: none;">
            <div class="text-center" >
              <p class="text-center" id="timer2"></p>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Party</th>
                </tr>
              </thead>
              <tbody id="candidatesResults">
              </tbody>
            </table>
       
            <form onSubmit="App.castVote(); return false;"  id="myVote" method="post" action="vote" enctype="application/x-www-form-urlencoded">
              <div class="form-group">
                <label for="candidatesSelect">Select Candidate</label>
                <select class="form-control" id="candidatesSelect">
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Vote</button>
              <hr />
            </form>
         
            <hr/>
            <p id="accountAddress" class="text-center"></p>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
          <div class="text-center my-auto copyright"><span>Copyright © E-Votez 2023</span></div>
      </div>
  </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>